<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <title>Consulta de Encuestas</title>
  </head>
  <body>
    <h1 class="text-blue-100">Consulta de Encuestas</h1>
    <ul>
      {% for encuesta in encuestas %}
        <li>{{ encuesta.name }} - {{ encuesta.date }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
